SGSandBox/Service References/AxItemService/itemservice7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ezone-sg-aos02.ezone.no/MicrosoftDynamicsAXAif50/itemservice.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://ezone-sg-aos02.ezone.no/MicrosoftDynamicsAXAif50/itemservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Item" />
  <xs:import schemaLocation="http://ezone-sg-aos02.ezone.no/MicrosoftDynamicsAXAif50/itemservice.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" name="EntityKeyList" type="q1:EntityKeyList" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Item" name="AxdItem" type="q2:AxdItem" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" name="QueryCriteria" type="q3:QueryCriteria" />
</xs:schema>